:root {
    --skin-color: green;
    --border-stylee: 4px solid white;
}

html, body {
    background: linear-gradient(to bottom, #f0f0f0, #dcdcdc); /* Degradado gris-blanco */
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden; /* Evita scroll horizontal */
}

nav {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 1rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    padding: 2rem;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

button {
    background: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #388E3C;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
